body {
  padding-top: 40px;
}
iframe {
  position: absolute;
  height: 100%;
  width: 100%;
  border: none
}
.topbar h2 {
  float: left;
  margin-left: -20px;
  color: white;
  padding: 8px 20px 12px;
  font-size: 20px;
  font-weight: 200;
  line-height: 1;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  font-variant: small-caps;
}
.topbar h2:before {
  content: "Hands-on-Opa: ";
}
.topbar ul {
  float: right !important;
}
#logo {
  width: 128px;
  height: 25px;
  z-index: 19;
  float: left;
}
#logo a {
  width: 128px;
  height: 76px;
  display: inline-block;
  background: url(http://opalang.org/img/opa-logo-orange.png) no-repeat 0 0;
  overflow: visible;
}

.icon32 {
  float: left;
  margin-right: 5px;
}
.fl-left {
  float: left;
}
.fl-right {
  float: right;
}
.opalang_apps {
    width: 100% !important;
    height: inherit !important;
    border-bottom: 1px dotted black;
}
.col50 {
    width: 46.5% !important;
}
.opalang_apps_descr a, .opalang_apps_learn a {
    display: inline !important;
    float: none !important;
}
.hidden {
    display: none;
}
.opalang_apps_learn {
    padding: 8px;
    background: #FFFFC0;
}
#blog-icons-legend {
    margin-bottom: 10px;
}
